

li {
    flex: 1;
    padding: 10px;
}




#carouselExampleCaptions
{
    position: absolute; 
 
     
 }
 


#conoce
{

    text-align: center;
}


#oradores
{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.card
{
    margin-right: 20px;
}

.js
{
    background-color:#D8D812;
    font-weight: bold;
    margin-right: 5px;
}
.react
{
    background-color:#3FB6D3;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 5px;
}
.titulos-cartas
{
    font-size: 25px;
    font-weight: bold;
}
.negocios
{
    background-color:#8E8589 ;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 5px;

}


.startups
{
    background-color:#DC1A75 ;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 5px;


}

.imagen
{
padding-left: 0%;
padding-right: 0%;


}

.bsas
{
    background-color:#566573;
    color: #FFFFFF;
    float: left;
}
.titulo-foto
{
    font-size: 30px;
}
.btn-secondary
{
    background-color: #34395F;

}
.anotate
{
    text-align: center;
}
.btn-success 
{
    background-color:#96c93e !important;
}

.foot
{
    display: flex;
    background-color:#0F50A4;
    height:100px;
  
    height: 20vh;
    text-align: center;
    position: relative;
    
}
.nav
{
    text-align: center;
}

.nav-item
{
    
   text-decoration: none !important;
    color: #FFFFFF;
}

.link-de-footer
{
    text-align: center;
    position: relative;
    margin-left: 10px;
    color: #FFFFFF;
   
}
.navbar-expand-lg 
{
    background-color: #532444;
}


#PieDePagina
{
    background-color:#096877;
    text-align: center;
    position: relative;
    margin-left: 10px;
   
}
#navbarInferior
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navbar-collapse
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

}





.custom-border {
    padding: 10px;
    margin: 10px;
}

.custom-border.Estudiante
{
    border: 1px solid #3210f09d;
   
}

.custom-border.Trainee
{
    border: 1px solid #061172;
   
}

.custom-border.Junior
{
    border: 1px solid #f0e110;
   
}

.tituloDescuento
{
    font-weight: bold ;
    font-size: large;
    text-align: center;
}

.textoDescuento
{
    text-align: center;
    color: #566573;
}

.porcDescuento
{
    text-align: center;
    font-weight: bold;
}
.notaDescuento
{
    text-align: center;
    color:#566573;
}

#tituloTickets
{
    text-align: center;
}


#cuadroTotalAPagar
{
    background-color: rgb(154, 224, 245);
    max-height: 4rem;
    
}

#textoTotalAPagar
{
    color: darkslateblue;
    font-size: large;
}